 <fieldset>
  <%= f.label :name, t(:name, :scope => 'activerecord.attributes.spree/subscription') %>
  <%= f.text_field :name %>

  <%= f.label :samplebox_issue_id, t(:product) %>
  <%= f.select :samplebox_issue_id, @products, :include_blank => true %>
</fieldset>