<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Issues' } %>

<%= csrf_meta_tags %>

<div data-hook="admin_product_issue_edit_header">
  <h2><%= t("editing_issue") %></h2>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @samplebox } %>
</div>

<div data-hook="admin_product_issue_edit_form">
  <div id="issue-form-wrapper">
    <%= form_for [@samplebox, @issue], :url => admin_samplebox_issue_url(@samplebox, @issue) do |f| %>
      <%= render 'form', :f => f  %>

      <p class="form-buttons" data-hook="buttons">
     	  <%= button t(:update) %>
      </p>
    <% end %>
  </div>
</div>