<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Issues' } %>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li id="new_issue_link">
    <%= button_link_to t(:new_issue), new_admin_samplebox_issue_url(@samplebox), { :icon => 'add', :id => 'admin_new_issue' } %>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= t("listing_issues") %></h1>

<table class="index" id="listing_issues">
  <thead>
    <tr>
      <th><%= t(:name, :scope => 'activerecord.attributes.spree/issue') %></th>
      <th><%= t(:shipped_at, :scope => 'activerecord.attributes.spree/issue') %></th>
      <th data-hook="admin_issues_index_header_actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.name, admin_samplebox_issue_url(@samplebox, issue) %></td>
        <td><%= issue.shipped? ? issue.shipped_at.to_s(:db) : t(:issue_not_shipped) %></td>
        <td class="actions" data-hook="admin_issues_index_row_actions">
          <%= link_to_with_icon :accept, t(:ship).capitalize, admin_samplebox_issue_ship_path(@samplebox, issue), :confirm => t(:are_you_sure) if !issue.shipped? %>
          <%= link_to_with_icon :edit,  t(:edit), edit_admin_samplebox_issue_url(@samplebox, issue), :class => 'edit' if !issue.shipped? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>