<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Issues' } %>

<div data-hook="admin_product_issue_header">
  <h2><%= @issue.name %></h2>
</div>

<% if @issue.samplebox_issue %>
  <%= render 'samplebox_issue', :product => @issue.samplebox_issue %>
<% end %>

<div class="toolbar" data-hook="admin_issue_show_buttons">
  <%= button_link_to t(:ship), admin_samplebox_issue_ship_path(@product, @issue), :icon => 'accept', :confirm => t(:are_you_sure) if !@issue.shipped? %>
  <%= button_link_to t(:print), admin_samplebox_issue_path(@product, @issue, :format => :pdf), :icon => 'pdf' %>
</div>
<br class="clear">
<br>

<h1><%= @issue.shipped? ? t(:shipped_to) : t(:subscribed) %></h1>

<table class="index" id="subscriptions_listing">
  <thead data-hook="admin_subscriptions_index_headers">
    <th><%= t(:email) %></th>
    <th><%= t(:first_name) %></th>
    <th><%= t(:last_name) %></th>
    <th><%= t(:street_address) %></th>
    <th><%= t(:zip) %></th>
    <th><%= t(:city) %></th>
    <th><%= t(:state) %></th>
    <th><%= t(:phone) %></th>
  </thead>
  <tbody>
    <% @product_subscriptions.each do |subscription|%>
      <tr id="<%= spree_dom_id subscription %>" data-hook="admin_subscriptions_index_rows">
        <td><%= subscription.email %></td>
        <td><%= subscription.ship_address.firstname %></td>
        <td><%= subscription.ship_address.lastname %></td>
        <td>
          <%= subscription.ship_address.address1 %>
          <%= raw("</br>#{subscription.ship_address.address2}") if subscription.ship_address.address2.present? %>
        </td>
        <td><%= subscription.ship_address.zipcode %></td>
        <td><%= subscription.ship_address.city %></td>
        <td><%= subscription.ship_address.state_name %></td>
        <td><%= subscription.ship_address.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>