<% content_for :sidebar do %>
  <div data-hook="samplebox_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div data-hook="samplebox_products">
  <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
</div>
