<% if variant.subscribable? %>
    <%= item_form.object.quantity %>
    <%= item_form.hidden_field :quantity, :class => "line_item_quantity" %>
<% else %>
    <%= item_form.number_field :quantity, :min => 0, :class => "line_item_quantity", :size => 5 %>
<% end %>
