<%= f.field_container :product do %>
  <%= f.label :samplebox_id, t(:product) %><br />
  <%= f.select :samplebox_id, @products %>

  <%= f.label :remaining_issues, t(:remaining_issues, :scope => 'activerecord.attributes.spree/subscription') %><br />
  <%= f.number_field :remaining_issues %>
  <%= f.error_message_on :samplebox %>
<% end %>