<div data-hook="account_my_subscriptions">

  <h3><%= t(:my_subscriptions) %></h3>
  <% if @subscriptions.present? %>
    <table class="subscription-summary">
      <thead>
        <tr>
          <th><%= t(:subscription) %></th>
          <th><%= t(:shipped_to) %></th>
          <th><%= t(:remaining_issues, :scope => 'activerecord.attributes.spree/subscription') %></th>
          <th><%= t(:status) %></th>
        </tr>
      </thead>
      <tbody>
        <% @subscriptions.each do |subscription| %>
          <tr class="<%= cycle('even', 'odd') %>">
            <td><%= subscription.samplebox.name %></td>
            <td><%= subscription.ship_address.full_name %></td>
            <td><%= subscription.remaining_issues %></td>
            <td><%= t(subscription.state, :scope => 'subscription_state').titleize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= t(:you_have_no_subscriptions_yet) %></p>
  <% end %>
  <br />

</div>
